# EDA

## Dependencies

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## Data

In [ ]:
MTeams = pd.read_csv("../data/Mteams.csv")
MTeams.head()

In [ ]:
WTeams  = pd.read_csv("../data/Wteams.csv")
WTeams.head()

In [ ]:
MSeasons = pd.read_csv('../data/MSeasons.csv')
WSeasons = pd.read_csv('../data/WSeasons.csv')

In [ ]:
MSeasons.head()

In [ ]:
WSeasons.head()

<h5     style = 'color : red'>MNCAATourneySeeds.csv and WNCAATourneySeeds.csv</h5>

In [ ]:
MNCAATourneySeeds = pd.read_csv('..\data\MNCAATourneySeeds.csv')
WNCAATourneySeeds = pd.read_csv('..\data\WNCAATourneySeeds.csv')

In [ ]:
MNCAATourneySeeds.head()

In [ ]:
WNCAATourneySeeds.head()

<h5 style = 'color:red'>MRegularSeasonCompactResults.csv and WRegularSeasonCompactResults.csv </h5>

In [ ]:
MRegularSeasonCompactResults = pd.read_csv('..\data\MRegularSeasonCompactResults.csv')
WRegularSeasonCompactResults = pd.read_csv('..\data\WRegularSeasonCompactResults.csv')

In [ ]:
MRegularSeasonCompactResults['WScore']

In [ ]:
WRegularSeasonCompactResults.head()

<h5 style = 'color:red'> MNCAATourneyCompactResults.csv and WNCAATourneyCompactResults.csv </h5>

In [ ]:
MNCAATourneyCompactResults = pd.read_csv('../data/MNCAATourneyCompactResults.csv')
WNCAATourneyCompactResults = pd.read_csv('../Data/WNCAATourneyCompactResults.csv')

In [ ]:
MNCAATourneyCompactResults.head()

In [ ]:
WNCAATourneyCompactResults.head()

<h5 style = 'color:red'>Sample Submission Stage1 </h5>

In [ ]:
SampleSubmissionStage1 = pd.read_csv('../Data/SampleSubmissionStage1.csv')

In [ ]:
SampleSubmissionStage1.head()

## DataFrame Dictionary

In [ ]:
dict_df = {
              'MTeams' : MTeams,
              'WTeams' : WTeams,
              'MSeasons' : MSeasons,
              'WSeasons' : WSeasons,
              'MNCAATourneySeeds' : MNCAATourneySeeds,
               'WNCAATourneySeeds' : WNCAATourneySeeds,
                'WRegularSeasonCompactResults' : WRegularSeasonCompactResults,
                'MRegularSeasonCompactResults' : MRegularSeasonCompactResults,
                'MNCAATourneyCompactResults' : MNCAATourneyCompactResults,
                'WNCAATourneyCompactResults' : WNCAATourneyCompactResults
                                   
}

## Data Analysis

<h5>Mteams</h5>

In [ ]:
MTeams.columns

In [ ]:
list(set(MTeams['LastD1Season']))

In [ ]:
MTeams = MTeams[MTeams['LastD1Season'] == 2025]

In [ ]:
MTeams.shape

In [ ]:
len(list(set(MTeams['TeamName'])))

In [ ]:
list(set(MTeams['FirstD1Season']))

In [ ]:
MTeams.groupby('FirstD1Season').count()

<h5>MSeasons</h5>

In [ ]:
MSeasons.head()

In [ ]:
regions = list(set(MSeasons['RegionW']).union(   set(MSeasons['RegionX'])   , set(MSeasons['RegionY'])  ,  set(MSeasons['RegionZ']) ))
regions

In [ ]:
regionsW = list(set(MSeasons['RegionW']))
regionsW

In [ ]:
regionsX = list(set(MSeasons['RegionX']))
regionsX

In [ ]:
regionsY = list(set(MSeasons['RegionY']))
regionsY

In [ ]:
regionsZ = list(set(MSeasons['RegionZ']))
regionsZ

In [ ]:
MSeasons.columns

In [ ]:
MSeasons.describe()

In [ ]:
MSeasons.info()

In [ ]:
(list(set(MSeasons['DayZero'])))

<p>
    How This Data Helps
<p>1Ô∏è‚É£ Bracket Structure:

Teams only compete within their region until the Final Four.
We can track matchups round by round.</p>
<p>2Ô∏è‚É£ Regional Strength Analysis:

We can analyze which regions are tougher.
Example: If W region has 3 top-10 teams, it might be a "Group of Death."</p>
<p>3Ô∏è‚É£ Predicting Upsets:

If a #12 seed in Region X has beaten multiple #5 seeds historically, we might predict another 12-over-5 upset in that region.
</p>

<h5>MNCAATourneySeeds</h5>

In [ ]:
set(MNCAATourneySeeds['Seed'])

In [ ]:
set(MNCAATourneySeeds['Season'])

The data is till 2024

In [ ]:
set( [ s[1:3] for s in list(MNCAATourneySeeds['Seed']) ] )

There is a good possiblity to draw the barcharts on averages of last 5 years, 10 years, 15 years and the peroformance of teams

<p>üîπ Why Are They Important?</p>
<p>üìå Momentum Boost ‚Üí Play-in teams already won a high-stakes game, making them dangerous in the main tournament.</p>
<p>üìå Upset Potential ‚Üí Some play-in teams perform better than expected (e.g., UCLA went from play-in to Final Four in 2021).</p>
<p>üìå Predictive Modeling ‚Üí These teams have extra recent performance data, which could influence their win probability in the main bracket.</p>

<p>TL;DR: Play-in games determine the final teams that enter March Madness. They can be a big factor in predicting upsets and understanding team momentum! üöÄ</p>

<h5>Regular Season Compact Results</h5>

In [ ]:
MRegularSeasonCompactResults.head()

In [ ]:
for cols in MRegularSeasonCompactResults.columns : 
    print(cols,'\n','='*20,'\n',set(MRegularSeasonCompactResults[cols]))

<p>üìå Why This Matters?</p>

<p>Higher NumOT ‚Üí The game was closely contested, indicating evenly matched teams.</p>
<p>Fatigue Impact ‚Üí A team playing multiple overtime games before the tournament might be more fatigued.</p>
<p>Clutch Performance ‚Üí Teams that frequently win in overtime might have strong late-game execution.</p>

<p>üìå Why This Matters?</p>

<p>Home teams usually have an advantage due to crowd support and familiarity with the court.</p>
<p>Neutral-site games (like March Madness tournament games) eliminate home-court advantage.</p>
<p>Away wins may indicate a stronger team that can perform well in different environm</p>

<h5>MNCAATourneyCompactResults</h5>

<p>Used to evaluate how teams perform under pressure in the tournament.</p>

<p>‚úÖ Regular Season Data is crucial for overall team performance trends.</p>
<p>‚úÖ Tournament Data is useful for March Madness-specific performance.</p>
<p>‚úÖ Since all tournament games are neutral-site, home-court advantage is not a factor in</p>

## Data Cleaning and Exploration

In [ ]:
for df in dict_df.keys() : 
    print(df,' : ')
    print(dict_df[df].head())
    print('='*20)

##### Null and missing values

In [ ]:
for df in dict_df.keys() : 
    print(dict_df[df].columns)

In [ ]:
for df in dict_df.keys() : 
    print(df, "  : " )
    print(dict_df[df].isnull().sum())
    print('='*20)

No null values

In [ ]:
for df in dict_df.keys() : 
     for cols in dict_df[df].columns : 
         print(f"{df}___{cols} unique values")
         print(set(dict_df[df][cols]),'\n')
         print("="*20)

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] == 'NA4']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionY'] == 'NA3']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionX'] == 'NA2']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionW'] == 'NA1']

Removing NA1 and TBD

In [ ]:
dict_df['WSeasons'] = dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] != 'NA4']

In [ ]:
dict_df['WSeasons'] = dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] != 'TBD4']

In [ ]:
dict_df['WSeasons']

In [ ]:
dict_df['MSeasons'] = dict_df['MSeasons'][dict_df['MSeasons']['RegionZ'] != 'NA4']

In [ ]:
dict_df['MSeasons'] = dict_df['MSeasons'][dict_df['MSeasons']['RegionZ'] != 'TBD4']

In [ ]:
dict_df['MSeasons']

<h2>Analysis Dictionary</h2>

In [ ]:
df_ans_dict = {}

## Exploratory Data Analysis

In [ ]:
win = dict_df['MRegularSeasonCompactResults'].groupby(['WTeamID','WLoc']).agg({'WTeamID' : 'count'})
win.rename(columns = {'WTeamID':'Won'},inplace = True)
win.reset_index(inplace = True)

loss = dict_df['MRegularSeasonCompactResults'].groupby(['LTeamID','WLoc']).agg({'LTeamID' : 'count'})
loss.rename(columns = {'LTeamID':'loss'},inplace = True)
loss.reset_index(inplace = True)

win_df = pd.merge(win,loss,how = 'inner',left_on= ['WTeamID','WLoc'],right_on = ['LTeamID','WLoc'])
win_df['Total'] = win_df['Won'] + win_df['loss']
win_df['win_per'] = ((win_df['Won'] * 100.0) /win_df['Total']) 

df_ans_dict['win_df'] = win_df

<h4 style = "color: red" >Winning Percentage</h4>

In [ ]:
fig,ax = plt.subplots(figsize = (14,6),ncols=2)

sns.swarmplot(win_df['win_per'],ax = ax[0])
sns.boxplot(win_df['win_per'],ax = ax[1])

ax[0].set_title("Swarn plot of win percentage")
ax[1].set_title("Box plot of win percentage")

plt.show()

There are teams that are performing badly and then there are teams who are performing extremely good.

<h4 style = "color: red" >Point Differential</h4>

In [ ]:
winpd = pd.DataFrame( { 'Score' :  dict_df['MRegularSeasonCompactResults']['WScore']  - dict_df['MRegularSeasonCompactResults']['LScore'] , 
                        'TeamID'  : dict_df['MRegularSeasonCompactResults']['WTeamID'] }   ) 
winpd

In [ ]:
losspd = pd.DataFrame( { 'Score' :  dict_df['MRegularSeasonCompactResults']['LScore']  - dict_df['MRegularSeasonCompactResults']['WScore'] , 
                        'TeamID'  : dict_df['MRegularSeasonCompactResults']['LTeamID'] }   ) 
losspd

In [ ]:
df = pd.concat([winpd,losspd])
df

In [ ]:
team_score = df.groupby('TeamID').sum(['Score'])

In [ ]:
team_score.reset_index(inplace = True)

In [ ]:
print(np.min(team_score['Score']))
print(np.max(team_score['Score']))

In [ ]:
team_score

In [ ]:
fig, ax = plt.subplots() 
sns.boxplot(team_score['Score'], ax = ax)

<h4 style =  "color :red " >Seeds vs Win</h4>

In [ ]:
dict_df['MNCAATourneySeeds'].columns

In [ ]:
dict_df['MNCAATourneyCompactResults'].columns

In [ ]:
tourney_results = dict_df['MNCAATourneyCompactResults']
win = pd.DataFrame( {
            'TeamID': tourney_results['WTeamID'],
             'Score' : tourney_results['WScore'],
             'Season' : tourney_results['Season']
} ) 

win = win.groupby(['TeamID','Season']).agg({'Score':'sum'}).reset_index()
win

loss = pd.DataFrame({
            'TeamID' : tourney_results['LTeamID'],
            'Score' : tourney_results['LScore'],
            'Season' : tourney_results['Season']
})

loss = loss.groupby(['TeamID','Season']).agg({'Score':'sum'}).reset_index()
loss

score_season_avg = pd.concat([win,loss])
score_season_avg  = score_season_avg.groupby(['TeamID','Season']).agg({'Score':'sum'}).reset_index()
score_season_avg

In [ ]:
score_seed_season = pd.merge(score_season_avg,dict_df['MNCAATourneySeeds'],how='inner',right_on=['TeamID','Season'],left_on=['TeamID','Season'])

In [ ]:
score_seed_season['Seed'] = score_seed_season['Seed'].str.extract('(\d+)').astype(int)

In [ ]:
score_seed_season

In [ ]:
fig, ax = plt.subplots()
sns.scatterplot(x = score_seed_season['Seed'],y = score_seed_season['Score'],ax = ax) 
plt.show()

<h4 style = 'color:red'>Home Advantage Analysis</h4>

In [ ]:
dict_df['MRegularSeasonCompactResults'].columns

In [ ]:
WLoc_win = dict_df['MRegularSeasonCompactResults'].groupby(['WLoc','WTeamID']).count().reset_index().rename(columns = {'Season':'Win','WTeamID' : 'TeamID'})[['WLoc', 'TeamID', 'Win']]
WLoc_loss = dict_df['MRegularSeasonCompactResults'].groupby(['WLoc','LTeamID']).count().reset_index().rename(columns = {'Season':'Loss','LTeamID' : 'TeamID'})[['WLoc', 'TeamID', 'Loss']]

In [ ]:
WLoc = pd.merge(WLoc_win,WLoc_loss,how='inner',left_on=['WLoc','TeamID'],right_on=['WLoc','TeamID'])
WLoc['Total'] = WLoc['Win'] + WLoc['Loss']
WLoc = WLoc.groupby(['WLoc','TeamID']).sum().reset_index()
WLoc['Win%'] =   ( ( WLoc['Win']* 100.0 ) / WLoc['Total'] ) 
WLoc

In [ ]:
np.min(WLoc['Win%'])

In [ ]:
fig, axes = plt.subplots(nrows=3)
set_wloc = list(set(WLoc['WLoc']) )
                
for i in  range(len(set_wloc)) : 
    sns.boxplot(WLoc[WLoc['WLoc'] == set_wloc[i]]['Win%'], ax = axes[i])
    axes[i].set_title(f'Distribution of Win% by  {set_wloc[i]}')

fig.set_figwidth(8)
fig.set_figheight(10)
plt.show()

<h4 style = 'color:red'> Tournament Results with seeds</h4>

In [ ]:
dict_df.keys()

In [ ]:
LTourneySeeds = dict_df['MNCAATourneySeeds'].rename(columns={'TeamID' : 'LTeamID' , 'Seed' : 'LSeed'})
RTourneySeeds = dict_df['MNCAATourneySeeds'].rename(columns={'TeamID' : 'WTeamID' , 'Seed' : 'WSeed'})
print(LTourneySeeds.columns)
print(RTourneySeeds.columns)

In [ ]:
temp = pd.merge(dict_df['MNCAATourneyCompactResults'],LTourneySeeds,how = 'inner',left_on=['Season','LTeamID'] , right_on=['Season','LTeamID'] )
TourneyResultswithSeeds = pd.merge(temp,RTourneySeeds,how = 'inner', left_on= ['Season','WTeamID'], right_on=['Season','WTeamID'])
TourneyResultswithSeeds = TourneyResultswithSeeds[['Season', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc',
       'NumOT', 'LSeed', 'WSeed']]
TourneyResultswithSeeds = TourneyResultswithSeeds[TourneyResultswithSeeds['WLoc'] == 'N']

l = TourneyResultswithSeeds['LSeed'].str.extract('([a-zA-Z]+)') 

set(l[0])

TourneyResultswithSeeds['LSeed'].str.extract('(\d+)')

TourneyResultswithSeeds['LSeed'] = TourneyResultswithSeeds['LSeed'].str.extract('(\d+)')

TourneyResultswithSeeds['WSeed'] = TourneyResultswithSeeds['WSeed'].str.extract('(\d+)')

TourneyResultswithSeeds['status'] = np.where( TourneyResultswithSeeds['WSeed'] >  TourneyResultswithSeeds['LSeed']  , 'Upset', 'Seed')
TourneyResultswithSeeds

In [ ]:
TourneyResultswithSeeds = TourneyResultswithSeeds.groupby(['status','Season']).agg({'WTeamID':'count'}).reset_index().rename(columns = {'WTeamID' : 'count'})

In [ ]:
TourneyResultswithSeeds

In [ ]:
TourneyResultswithSeeds.to_csv("TourneyResultswithSeeds.csv", index=False)

In [ ]:
fig, ax = plt.subplots()
ax.plot(TourneyResultswithSeeds[ TourneyResultswithSeeds['status'] == 'Seed']['Season'] ,TourneyResultswithSeeds[TourneyResultswithSeeds['status'] == 'Seed']['count'],label = 'Seed Wins' )

ax.plot(TourneyResultswithSeeds[ TourneyResultswithSeeds['status'] == 'Upset']['Season'],TourneyResultswithSeeds[TourneyResultswithSeeds['status'] == 'Upset' ]['count'],label = 'Upset Wins' )
ax.legend()
plt.show()

In [ ]:
fig, ax = plt.subplots()
ax.plot(TourneyResultswithSeeds[TourneyResultswithSeeds['status'] == 'Upset']['Season'],TourneyResultswithSeeds[TourneyResultswithSeeds['status'] == 'Upset']['count'] )
plt.show()

## Feature Engineering

### Team Strength Metrics

In [ ]:
temp_win = MRegularSeasonCompactResults.groupby(['WTeamID','Season']).size().reset_index(name = 'Wins')
temp_win

temp_loss = MRegularSeasonCompactResults.groupby(['LTeamID','Season']).size().reset_index(name = 'loss')
temp_loss

temp_season = pd.merge(temp_win,temp_loss,how = 'outer',left_on = ['WTeamID','Season'], right_on=['LTeamID','Season'])
temp_season['loss'].isnull().sum()
temp_season.fillna(0,inplace=True)
temp_season.isnull().sum()
temp_season['Total Games'] = temp_season['loss'] + temp_season['Wins']
temp_season['WSeason_pct'] = ((temp_season['Wins']*100.0)/temp_season['Total Games'])
temp_season

In [ ]:
temp_win = dict_df['MNCAATourneyCompactResults'].groupby(['WTeamID','Season']).size().reset_index(name = 'Wins')
temp_win

In [ ]:
temp_loss =  dict_df['MNCAATourneyCompactResults'].groupby(['LTeamID','Season']).size().reset_index(name = 'loss')
temp_loss

In [ ]:
temp_tourney = pd.merge(temp_win,temp_loss,how = 'outer',left_on = ['WTeamID','Season'], right_on=['LTeamID','Season'])
temp_tourney.isnull().sum()

In [ ]:
temp_tourney.fillna(0, inplace= True)
temp_tourney.isnull().sum()

In [ ]:
temp_tourney['Total Games'] = temp_tourney['loss'] + temp_tourney['Wins']
temp_tourney['WTourney_pct'] = ((temp_tourney['Wins']*100.0)/temp_tourney['Total Games'])
temp_tourney

In [ ]:
temp_winpct = pd.merge(temp_season,temp_tourney,how = 'right',left_on=['WTeamID','Season'],right_on=['WTeamID','Season'])
temp_winpct.isnull().sum()

In [ ]:
temp_winpct.fillna(0,inplace=True)
temp_winpct.isnull().sum()

In [127]:
temp_winpct
temp_winpct.to_csv('Team Season Win.csv',index= False)

In [128]:


temp_season = dict_df['MRegularSeasonCompactResults']

temp_season['Point_Diff'] = temp_season['WScore'] - temp_season['LScore']
temp_season.columns

temp_season = temp_season.groupby(['WTeamID','Season']).agg({'Point_Diff' : 'sum'}).rename(columns = {'WTeamID':'TeamID','Point_Diff' : 'Avg_Point_Diff'}).reset_index()

temp_season = temp_season.rename(columns = {'WTeamID' : 'TeamID' , 'Avg_Point_Diff' : 'Point_Diff_season'})
temp_season

       TeamID  Season  Point_Diff_season
0        1101    2014                  7
1        1101    2015                 85
2        1101    2016                 68
3        1101    2017                 42
4        1101    2018                 88
...       ...     ...                ...
13364    1477    2025                  3
13365    1478    2024                194
13366    1478    2025                 37
13367    1479    2025                 42
13368    1480    2025                 29

[13369 rows x 3 columns]

In [126]:
temp_tourney = dict_df['MNCAATourneyCompactResults']

temp_tourney['Point_Diff'] = temp_tourney['WScore'] - temp_tourney['LScore']
temp_tourney.columns

temp_tourney = temp_tourney.groupby(['WTeamID','Season']).agg({'Point_Diff' : 'sum'}).rename(columns = {'WTeamID':'TeamID','Point_Diff' : 'Avg_Point_Diff'}).reset_index()

temp_tourney = temp_tourney.rename(columns = {'WTeamID' : 'TeamID' , 'Avg_Point_Diff' : 'Point_Diff_tourney'})
temp_tourney

      TeamID  Season  Point_Diff_tourney
0       1101    2021                   1
1       1104    1985                  13
2       1104    1986                  19
3       1104    1987                  42
4       1104    1990                  39
...      ...     ...                 ...
1292    1462    2017                  38
1293    1462    2018                  19
1294    1462    2023                  16
1295    1463    2016                   4
1296    1463    2024                   2

[1297 rows x 3 columns]

In [131]:
temp_pointdiff = pd.merge(temp_season,temp_tourney,how = 'outer', left_on=['TeamID','Season'], right_on=['TeamID','Season'])
temp_pointdiff.fillna(0,inplace = True)
temp_pointdiff

       TeamID  Season  Point_Diff_season  Point_Diff_tourney
0        1101    2014                  7                 0.0
1        1101    2015                 85                 0.0
2        1101    2016                 68                 0.0
3        1101    2017                 42                 0.0
4        1101    2018                 88                 0.0
...       ...     ...                ...                 ...
13364    1477    2025                  3                 0.0
13365    1478    2024                194                 0.0
13366    1478    2025                 37                 0.0
13367    1479    2025                 42                 0.0
13368    1480    2025                 29                 0.0

[13369 rows x 4 columns]

In [139]:
Away = MRegularSeasonCompactResults[MRegularSeasonCompactResults['WLoc'] == 'A']
Home = MRegularSeasonCompactResults[MRegularSeasonCompactResults['WLoc'] == 'H']
Neutral = MRegularSeasonCompactResults[MRegularSeasonCompactResults['WLoc'] == 'N']

In [135]:
temp_win = Away.groupby(['WTeamID','Season']).size().reset_index(name = 'Wins')
temp_win

temp_loss = Away.groupby(['LTeamID','Season']).size().reset_index(name = 'loss')
temp_loss

Away = pd.merge(temp_win,temp_loss,how = 'outer',left_on = ['WTeamID','Season'], right_on=['LTeamID','Season'])
Away['loss'].isnull().sum()
Away.fillna(0,inplace=True)
Away.isnull().sum()
Away['Total Games'] = Away['loss'] + Away['Wins']
Away['WSeason_pct_away'] = ((Away['Wins']*100.0)/Away['Total Games'])
Away

       WTeamID  Season  Wins  LTeamID  loss  Total Games  WSeason_pct_away
0          0.0    2014   0.0   1101.0   5.0          5.0          0.000000
1       1101.0    2015   1.0   1101.0   6.0          7.0         14.285714
2       1101.0    2016   2.0   1101.0   5.0          7.0         28.571429
3       1101.0    2017   4.0   1101.0   5.0          9.0         44.444444
4       1101.0    2018   6.0   1101.0   6.0         12.0         50.000000
...        ...     ...   ...      ...   ...          ...               ...
13381      0.0    2025   0.0   1477.0   6.0          6.0          0.000000
13382   1478.0    2024   5.0   1478.0   3.0          8.0         62.500000
13383   1478.0    2025   2.0   1478.0   5.0          7.0         28.571429
13384   1479.0    2025   3.0   1479.0   2.0          5.0         60.000000
13385   1480.0    2025   1.0   1480.0   4.0          5.0         20.000000

[13386 rows x 7 columns]

In [140]:
temp_win = Home.groupby(['WTeamID','Season']).size().reset_index(name = 'Wins')
temp_win

temp_loss = Home.groupby(['LTeamID','Season']).size().reset_index(name = 'loss')
temp_loss

Home = pd.merge(temp_win,temp_loss,how = 'outer',left_on = ['WTeamID','Season'], right_on=['LTeamID','Season'])
Home['loss'].isnull().sum()
Home.fillna(0,inplace=True)
Home.isnull().sum()
Home['Total Games'] = Home['loss'] + Home['Wins']
Home['WSeason_pct_home'] = ((Home['Wins']*100.0)/Home['Total Games'])
Home

       WTeamID  Season  Wins  LTeamID  loss  Total Games  WSeason_pct_home
0       1101.0    2014   2.0   1101.0  14.0         16.0         12.500000
1       1101.0    2015   4.0   1101.0  14.0         18.0         22.222222
2       1101.0    2016   6.0   1101.0  12.0         18.0         33.333333
3       1101.0    2017   5.0   1101.0  11.0         16.0         31.250000
4       1101.0    2018   5.0   1101.0   8.0         13.0         38.461538
...        ...     ...   ...      ...   ...          ...               ...
13383   1477.0    2025   2.0   1477.0  13.0         15.0         13.333333
13384   1478.0    2024   7.0   1478.0  14.0         21.0         33.333333
13385   1478.0    2025   2.0   1478.0   9.0         11.0         18.181818
13386   1479.0    2025   4.0   1479.0  11.0         15.0         26.666667
13387   1480.0    2025   2.0   1480.0  11.0         13.0         15.384615

[13388 rows x 7 columns]

In [141]:
temp_win = Neutral.groupby(['WTeamID','Season']).size().reset_index(name = 'Wins')
temp_win

temp_loss = Neutral.groupby(['LTeamID','Season']).size().reset_index(name = 'loss')
temp_loss

Neutral = pd.merge(temp_win,temp_loss,how = 'outer',left_on = ['WTeamID','Season'], right_on=['LTeamID','Season'])
Neutral['loss'].isnull().sum()
Neutral.fillna(0,inplace=True)
Neutral.isnull().sum()
Neutral['Total Games'] = Neutral['loss'] + Neutral['Wins']
Neutral['WSeason_pct_home'] = ((Neutral['Wins']*100.0)/Neutral['Total Games'])
Neutral

       WTeamID  Season  Wins  LTeamID  loss  Total Games  WSeason_pct_home
0       1101.0    2015   2.0   1101.0   1.0          3.0         66.666667
1       1101.0    2016   1.0   1101.0   1.0          2.0         50.000000
2       1101.0    2018   1.0   1101.0   1.0          2.0         50.000000
3       1101.0    2019   4.0      0.0   0.0          4.0        100.000000
4       1101.0    2021   5.0      0.0   0.0          5.0        100.000000
...        ...     ...   ...      ...   ...          ...               ...
11989   1476.0    2025   1.0   1476.0   1.0          2.0         50.000000
11990   1477.0    2023   1.0   1477.0   3.0          4.0         25.000000
11991   1477.0    2024   1.0      0.0   0.0          1.0        100.000000
11992   1478.0    2025   1.0      0.0   0.0          1.0        100.000000
11993      0.0    2025   0.0   1480.0   2.0          2.0          0.000000

[11994 rows x 7 columns]

In [144]:
temp_seasonWLoc = pd.merge(Home,Away,how='outer',left_on=['WTeamID','Season'],right_on=['WTeamID','Season'])
temp_seasonWLoc.fillna(0,inplace = True)
temp_seasonWLoc

,WTeamID,Season,Wins,LTeamID_x,loss,Total Games,WSeason_pct_home,DayNum,WScore,LTeamID_y,LScore,WLoc,NumOT,Point_Diff
0,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0
1,0.0,1985,0.0,1322.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0
2,0.0,1986,0.0,1159.0,11.0,11.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0
3,0.0,1987,0.0,1264.0,10.0,10.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0
4,0.0,1987,0.0,1271.0,14.0,14.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59102,1478.0,2025,2.0,1478.0,9.0,11.0,18.181818,44.0,80.0,1171.0,76.0,A,0.0,4.0
59103,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,2.0,78.0,1288.0,73.0,A,0.0,5.0
59104,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,26.0,66.0,1170.0,60.0,A,0.0,6.0
59105,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,75.0,69.0,1447.0,65.0,A,0.0,4.0
59106,1480.0,2025,2.0,1480.0,11.0,13.0,15.384615,66.0,72.0,1122.0,68.0,A,0.0,4.0

In [146]:
temp_seasonWLoc = pd.merge(temp_seasonWLoc,Neutral,how='outer',right_on=['WTeamID','Season'],left_on=['WTeamID','Season'])
temp_seasonWLoc.fillna(0,inplace=True)
temp_seasonWLoc

,WTeamID,Season,Wins_x,LTeamID_x,loss_x,Total Games_x,WSeason_pct_home_x,DayNum,WScore,LTeamID_y,LScore,WLoc,NumOT,Point_Diff,Wins_y,LTeamID,loss_y,Total Games_y,WSeason_pct_home_y
0,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1102.0,2.0,2.0,0.0
1,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1112.0,1.0,1.0,0.0
2,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1117.0,2.0,2.0,0.0
3,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1124.0,3.0,3.0,0.0
4,0.0,1985,0.0,1253.0,12.0,12.0,0.000000,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,1139.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64318,1478.0,2025,2.0,1478.0,9.0,11.0,18.181818,44.0,80.0,1171.0,76.0,A,0.0,4.0,1.0,0.0,0.0,1.0,100.0
64319,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,2.0,78.0,1288.0,73.0,A,0.0,5.0,0.0,0.0,0.0,0.0,0.0
64320,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,26.0,66.0,1170.0,60.0,A,0.0,6.0,0.0,0.0,0.0,0.0,0.0
64321,1479.0,2025,4.0,1479.0,11.0,15.0,26.666667,75.0,69.0,1447.0,65.0,A,0.0,4.0,0.0,0.0,0.0,0.0,0.0
64322,1480.0,2025,2.0,1480.0,11.0,13.0,15.384615,66.0,72.0,1122.0,68.0,A,0.0,4.0,0.0,0.0,0.0,0.0,0.0