# EDA

## Dependencies

In [78]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## Data

In [79]:
MTeams = pd.read_csv("../data/Mteams.csv")
MTeams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025

In [80]:
WTeams  = pd.read_csv("../data/Wteams.csv")
WTeams.head()

   TeamID     TeamName
0    3101  Abilene Chr
1    3102    Air Force
2    3103        Akron
3    3104      Alabama
4    3105  Alabama A&M

In [81]:
MSeasons = pd.read_csv('../data/MSeasons.csv')
WSeasons = pd.read_csv('../data/WSeasons.csv')

In [82]:
MSeasons.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988  11/02/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [83]:
WSeasons.head()

   Season     DayZero RegionW  RegionX  RegionY  RegionZ
0    1998  10/27/1997    East  Midwest  Mideast     West
1    1999  10/26/1998    East  Mideast  Midwest     West
2    2000  11/01/1999    East  Midwest  Mideast     West
3    2001  10/30/2000    East  Midwest  Mideast     West
4    2002  10/29/2001    East     West  Mideast  Midwest

<h5     style = 'color : red'>MNCAATourneySeeds.csv and WNCAATourneySeeds.csv</h5>

In [84]:
MNCAATourneySeeds = pd.read_csv('..\data\MNCAATourneySeeds.csv')
WNCAATourneySeeds = pd.read_csv('..\data\WNCAATourneySeeds.csv')

In [85]:
MNCAATourneySeeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [86]:
WNCAATourneySeeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

<h5 style = 'color:red'>MRegularSeasonCompactResults.csv and WRegularSeasonCompactResults.csv </h5>

In [119]:
MRegularSeasonCompactResults = pd.read_csv('..\data\MRegularSeasonCompactResults.csv')
WRegularSeasonCompactResults = pd.read_csv('..\data\WRegularSeasonCompactResults.csv')

In [123]:
MRegularSeasonCompactResults['WScore']

0         81
1         77
2         63
3         70
4         86
          ..
190766    75
190767    86
190768    69
190769    74
190770    83
Name: WScore, Length: 190771, dtype: int64

In [89]:
WRegularSeasonCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

<h5 style = 'color:red'> MNCAATourneyCompactResults.csv and WNCAATourneyCompactResults.csv </h5>

In [90]:
MNCAATourneyCompactResults = pd.read_csv('../data/MNCAATourneyCompactResults.csv')
WNCAATourneyCompactResults = pd.read_csv('../Data/WNCAATourneyCompactResults.csv')

In [91]:
MNCAATourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [92]:
WNCAATourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998     137     3104      94     3422      46    H      0
1    1998     137     3112      75     3365      63    H      0
2    1998     137     3163      93     3193      52    H      0
3    1998     137     3198      59     3266      45    H      0
4    1998     137     3203      74     3208      72    A      0

<h5 style = 'color:red'>Sample Submission Stage1 </h5>

In [93]:
SampleSubmissionStage1 = pd.read_csv('../Data/SampleSubmissionStage1.csv')

In [94]:
SampleSubmissionStage1.head()

               ID  Pred
0  2021_1101_1102   0.5
1  2021_1101_1103   0.5
2  2021_1101_1104   0.5
3  2021_1101_1105   0.5
4  2021_1101_1106   0.5

## DataFrame Dictionary

In [125]:
dict_df = {
              'MTeams' : MTeams,
              'WTeams' : WTeams,
              'MSeasons' : MSeasons,
              'WSeasons' : WSeasons,
              'MNCAATourneySeeds' : MNCAATourneySeeds,
               'WNCAATourneySeeds' : WNCAATourneySeeds,
                'WRegularSeasonCompactResults' : WRegularSeasonCompactResults,
                'MRegularSeasonCompactResults' : MRegularSeasonCompactResults,
                'MNCAATourneyCompactResults' : MNCAATourneyCompactResults,
                'WNCAATourneyCompactResults' : WNCAATourneyCompactResults
                                   
}

## Data Analysis

<h5>Mteams</h5>

In [96]:
Mteams.columns

NameError: name 'Mteams' is not defined

In [ ]:
list(set(Mteams['LastD1Season']))

In [ ]:
Mteams = Mteams[Mteams['LastD1Season'] == 2025]

In [ ]:
Mteams.shape

In [ ]:
len(list(set(Mteams['TeamName'])))

In [ ]:
list(set(Mteams['FirstD1Season']))

In [ ]:
Mteams.groupby('FirstD1Season').count()

<h5>MSeasons</h5>

In [ ]:
MSeasons.head()

In [ ]:
regions = list(set(MSeasons['RegionW']).union(   set(MSeasons['RegionX'])   , set(MSeasons['RegionY'])  ,  set(MSeasons['RegionZ']) ))
regions

In [ ]:
regionsW = list(set(MSeasons['RegionW']))
regionsW

In [ ]:
regionsX = list(set(MSeasons['RegionX']))
regionsX

In [ ]:
regionsY = list(set(MSeasons['RegionY']))
regionsY

In [ ]:
regionsZ = list(set(MSeasons['RegionZ']))
regionsZ

In [ ]:
MSeasons.columns

In [ ]:
MSeasons.describe()

In [ ]:
MSeasons.info()

In [ ]:
(list(set(MSeasons['DayZero'])))

<p>
    How This Data Helps
<p>1️⃣ Bracket Structure:

Teams only compete within their region until the Final Four.
We can track matchups round by round.</p>
<p>2️⃣ Regional Strength Analysis:

We can analyze which regions are tougher.
Example: If W region has 3 top-10 teams, it might be a "Group of Death."</p>
<p>3️⃣ Predicting Upsets:

If a #12 seed in Region X has beaten multiple #5 seeds historically, we might predict another 12-over-5 upset in that region.
</p>

<h5>MNCAATourneySeeds</h5>

In [ ]:
set(MNCAATourneySeeds['Seed'])

In [ ]:
set(MNCAATourneySeeds['Season'])

The data is till 2024

In [ ]:
set( [ s[1:3] for s in list(MNCAATourneySeeds['Seed']) ] )

There is a good possiblity to draw the barcharts on averages of last 5 years, 10 years, 15 years and the peroformance of teams

<p>🔹 Why Are They Important?</p>
<p>📌 Momentum Boost → Play-in teams already won a high-stakes game, making them dangerous in the main tournament.</p>
<p>📌 Upset Potential → Some play-in teams perform better than expected (e.g., UCLA went from play-in to Final Four in 2021).</p>
<p>📌 Predictive Modeling → These teams have extra recent performance data, which could influence their win probability in the main bracket.</p>

<p>TL;DR: Play-in games determine the final teams that enter March Madness. They can be a big factor in predicting upsets and understanding team momentum! 🚀</p>

<h5>Regular Season Compact Results</h5>

In [ ]:
MRegularSeasonCompactResults.head()

In [124]:
for cols in MRegularSeasonCompactResults.columns : 
    print(cols,'\n','='*20,'\n',set(MRegularSeasonCompactResults[cols]))

Season
 ====================
 {1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025}
DayNum
 ====================
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132}
WTeamID
 ====================
 {1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480}
WScore
 ====================
 {34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 159, 162, 166, 172, 173, 181, 186}
LTeamID
 ====================
 {1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480}
LScore
 ====================
 {20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 130, 131, 132, 133, 136, 137, 140, 141, 144, 150}
WLoc
 ====================
 {'N', 'A', 'H'}
NumOT
 ====================
 {0, 1, 2, 3, 4, 5, 6}

<p>📌 Why This Matters?</p>

<p>Higher NumOT → The game was closely contested, indicating evenly matched teams.</p>
<p>Fatigue Impact → A team playing multiple overtime games before the tournament might be more fatigued.</p>
<p>Clutch Performance → Teams that frequently win in overtime might have strong late-game execution.</p>

<p>📌 Why This Matters?</p>

<p>Home teams usually have an advantage due to crowd support and familiarity with the court.</p>
<p>Neutral-site games (like March Madness tournament games) eliminate home-court advantage.</p>
<p>Away wins may indicate a stronger team that can perform well in different environm</p>

<h5>MNCAATourneyCompactResults</h5>

<p>Used to evaluate how teams perform under pressure in the tournament.</p>

<p>✅ Regular Season Data is crucial for overall team performance trends.</p>
<p>✅ Tournament Data is useful for March Madness-specific performance.</p>
<p>✅ Since all tournament games are neutral-site, home-court advantage is not a factor in</p>

## Data Cleaning and Exploration

In [ ]:
for df in dict_df.keys() : 
    print(df,' : ')
    print(dict_df[df].head())
    print('='*20)

##### Null and missing values

In [ ]:
for df in dict_df.keys() : 
    print(dict_df[df].columns)

In [ ]:
for df in dict_df.keys() : 
    print(df, "  : " )
    print(dict_df[df].isnull().sum())
    print('='*20)

No null values

In [ ]:
for df in dict_df.keys() : 
     for cols in dict_df[df].columns : 
         print(f"{df}___{cols} unique values")
         print(set(dict_df[df][cols]),'\n')
         print("="*20)

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] == 'NA4']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionY'] == 'NA3']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionX'] == 'NA2']

In [ ]:
dict_df['WSeasons'][dict_df['WSeasons']['RegionW'] == 'NA1']

Removing NA1 and TBD

In [ ]:
dict_df['WSeasons'] = dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] != 'NA4']

In [ ]:
dict_df['WSeasons'] = dict_df['WSeasons'][dict_df['WSeasons']['RegionZ'] != 'TBD4']

In [ ]:
dict_df['WSeasons']

In [ ]:
dict_df['MSeasons'] = dict_df['MSeasons'][dict_df['MSeasons']['RegionZ'] != 'NA4']

In [ ]:
dict_df['MSeasons'] = dict_df['MSeasons'][dict_df['MSeasons']['RegionZ'] != 'TBD4']

In [ ]:
dict_df['MSeasons']

<h2>Analysis Dictionary</h2>

In [ ]:
df_ans_dict = {}

## Exploratory Data Analysis

In [ ]:
win = dict_df['MRegularSeasonCompactResults'].groupby(['WTeamID','WLoc']).agg({'WTeamID' : 'count'})
win.rename(columns = {'WTeamID':'Won'},inplace = True)
win.reset_index(inplace = True)

loss = dict_df['MRegularSeasonCompactResults'].groupby(['LTeamID','WLoc']).agg({'LTeamID' : 'count'})
loss.rename(columns = {'LTeamID':'loss'},inplace = True)
loss.reset_index(inplace = True)

win_df = pd.merge(win,loss,how = 'inner',left_on= ['WTeamID','WLoc'],right_on = ['LTeamID','WLoc'])
win_df['Total'] = win_df['Won'] + win_df['loss']
win_df['win_per'] = ((win_df['Won'] * 100.0) /win_df['Total']) 

df_ans_dict['win_df'] = win_df

<h4 style = "color: red" >Winning Percentage</h4>

In [ ]:
fig,ax = plt.subplots(figsize = (14,6),ncols=2)

sns.swarmplot(win_df['win_per'],ax = ax[0])
sns.boxplot(win_df['win_per'],ax = ax[1])

ax[0].set_title("Swarn plot of win percentage")
ax[1].set_title("Box plot of win percentage")

plt.show()

There are teams that are performing badly and then there are teams who are performing extremely good.

<h4 style = "color: red" >Point Differential</h4>

In [129]:
winpd = pd.DataFrame( { 'Score' :  dict_df['MRegularSeasonCompactResults']['WScore']  - dict_df['MRegularSeasonCompactResults']['LScore'] , 
                        'TeamID'  : dict_df['MRegularSeasonCompactResults']['WTeamID'] }   ) 
winpd

        Score  TeamID
0          17    1228
1           7    1106
2           7    1112
3          16    1165
4          12    1192
...       ...     ...
190766      7    1401
190767      3    1405
190768      3    1428
190769      3    1444
190770     11    1461

[190771 rows x 2 columns]

In [130]:
losspd = pd.DataFrame( { 'Score' :  dict_df['MRegularSeasonCompactResults']['LScore']  - dict_df['MRegularSeasonCompactResults']['WScore'] , 
                        'TeamID'  : dict_df['MRegularSeasonCompactResults']['LTeamID'] }   ) 
losspd

        Score  TeamID
0         -17    1328
1          -7    1354
2          -7    1223
3         -16    1432
4         -12    1447
...       ...     ...
190766     -7    1328
190767     -3    1325
190768     -3    1153
190769     -3    1123
190770    -11    1201

[190771 rows x 2 columns]

In [133]:
df = pd.concat([winpd,losspd])
df

        Score  TeamID
0          17    1228
1           7    1106
2           7    1112
3          16    1165
4          12    1192
...       ...     ...
190766     -7    1328
190767     -3    1325
190768     -3    1153
190769     -3    1123
190770    -11    1201

[381542 rows x 2 columns]

In [136]:
team_score = df.groupby('TeamID').sum(['Score'])

In [137]:
team_score.reset_index(inplace = True)

In [140]:
print(np.min(team_score['Score']))
print(np.max(team_score['Score']))

-14201
17785